<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }} - microblog</title>
    <script src="/static/js/moment.js"></script>

</head>
<body>
    <div>Microblog:
        <a href="/index">Home</a>
        {% if g.user.is_authenticated() %}
            <form style="display: inline" action="{{ url_for('search') }}" method="post">
                {{ g.search_form.hidden_tag() }}
                {{ g.search_form.query(size=20) }}
                <input type="submit" value="Search">
            </form>
            | <a href="{{ url_for('user', nickname=g.user.nickname) }}">Your profile</a>
            | <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>